<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  
  <targets>
    <target name="TargetLogTimeAspect" xsi:type="File" fileName="${basedir}/${logger}.log" layout="${date} | ${message}" />    
    <target name="TargetStackOverflowDetectionAspect" xsi:type="File" fileName="${basedir}/${logger}.log" layout="${date} | ${message} | ${stacktrace}" />
  </targets>

  <rules>
    <logger name="LogTimeAspect" minlevel="Trace" maxlevel="Trace" writeTo="TargetLogTimeAspect" />
    <logger name="StackOverflowDetectionAspect" minlevel="Trace" maxlevel="Trace" writeTo="TargetStackOverflowDetectionAspect" />
  </rules>

</nlog>
