<section id="create_view"
         data-view-model="CreateViewModel"
         data-bind="template: { name: 'create_template', afterRender: handleAfterRender }">
</section>

<script type="text/html" id="create_template">

    <h1>Create a new note</h1>
    
    <div class="drop_shadow bigpostit">

        <form id="createForm">
            <fieldset>
            
                <div class="display-label">
                    <label for="Title">Title</label>
                </div>

                <div class="display-field">
                    <input id="Title" name="Title" type="text" value="">
                </div>
            
                <div class="display-label">
                    <label for="Message">Message</label>
                </div>

                <div class="display-field">
                    <textarea cols="20" id="Message" name="Message" rows="2"></textarea>
                </div>
           
                <br style="clear:both;" />

                <div class="display-label rowLeft">Categories:</div>
                <div class="display-field rowRight">
                    <ul data-bind="template: { name: 'create_categories_list', foreach: Categories }"></ul>    
                </div>

                <br style="clear:both;">

                <p>
                    <input type="submit" value="Create" style="float:right;">
                </p>
            </fieldset>
        </form>

    </div>

    <div>
        <a data-bind="changeStateOnClick: { viewId: 'index' }">&#171; Back to List</a>
    </div></script>
<script type="text/html" id="create_categories_list">

    <li>
        <input type="checkbox"
               name="Categories"
               data-bind="attr: { value: Color, id: 'label_categories_' + Color()}">
        <label data-bind="attr: { for: 'label_categories_' + Color() }, style: { color: Color }, text: Name"></label>
    </li>

</script>