<section id="details_view"
         data-view-model="DetailsViewModel"
         data-bind="template: { name: 'details_template' }">
</section>

<script type="text/html" id="details_template">

    <h1 data-bind="text: 'Details of ' + Id()"></h1>
    
    <div class="drop_shadow bigpostit <%= Html.SelectColorClass(Model.Categories) %>">

        <fieldset>
        
            <div class="display-label rowLeft">Title:</div>
            <div class="display-field rowRight" data-bind="text: Title"></div>

            <hr class="clear" />
        
            <div class="display-label rowLeft">Message:</div>
            <div class="display-field rowRight message" data-bind="text: Message"></div>
        
            <hr class="clear" />

            <div class="display-label rowLeft">Added:</div>
            <div class="display-field rowRight" data-bind="dateText: Added, datePattern: 'dd.MM.yyyy HH:ss'"></div>
        
            <hr class="clear" />

            <div class="display-label rowLeft">Categories:</div>
            <div class="display-field rowRight">
                <ul data-bind="template: { name: 'details_categories_list', foreach: Categories }"></ul>
            </div>

        </fieldset>
    </div>
    
    <p>
        <a data-bind="changeStateOnClick: { viewId: 'index' }">&#171; Back to List</a>
    </p>

</script>

<script type="text/html" id="details_categories_list">

    <li data-bind="style: { color: Color() }, text: Name"></li>

</script>